# Dependency directories
node_modules/

# Build output
dist/

# Environment variables
.env

# Vercel
.vercel

# Scripts / binaries
src/scripts/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
*.lcov
.nyc_output

# OS metadata
.DS_Store
Thumbs.db
